In [8]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

def init_browser():
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=True)


url = 'http://content.caiso.com/green/renewrpt/20191216_DailyRenewablesWatch.txt'

browser = init_browser()

browser.visit(url)

#browser.click_link_by_partial_text('Daily Renewables Watch for 12/16/2019')

#time.sleep(10)

html = browser.html
browser.quit()

data = bs(html, 'html.parser')

<html xmlns="http://www.w3.org/1999/xhtml"><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">12/16/19			Hourly Breakdown of Renewable Resources (MW)
	Hour		GEOTHERMAL	BIOMASS		BIOGAS		SMALL HYDRO	WIND TOTAL	SOLAR PV	SOLAR THERMAL
	1		757		326		207		279		330		0		0
	2		757		328		207		278		247		0		0
	3		757		327		207		279		261		0		0
	4		758		325		207		288		265		0		0
	5		757		325		207		288		315		0		0
	6		757		330		204		303		361		0		0
	7		756		344		204		304		376		14		0
	8		754		342		205		286		360		1739		0
	9		752		344		207		271		483		5659		111
	10		751		341		206		269		724		7326		335
	11		751		334		206		269		848		7762		411
	12		741		320		207		263		996		7632		406
	13		747		328		205		258		1145		7332		399
	14		728		339		203		256		1132		7579		382
	15		749		344		207		257		1048		6701		334
	16		747		348		214		294		996		3383		194
	17		753		351		212		308		760		281		0
	18		757		367		216		336		769		0		0
	19		757		365		216		338		803		0		0
	20		758		369		216		338		753		0		0
	21		758		366		216		304		740		0		0
	22		759		364		215		298		702		0		0
	23		757		343		215		285		653		0		0
	24		757		324		215		270		624		0		0


			Hourly Breakdown of Total Production by Resource Type (MW)
	Hour		RENEWABLES	NUCLEAR		THERMAL		IMPORTS		HYDRO
	1		1899		1104		9087		7450		2191
	2		1817		1103		8800		7313		2045
	3		1074		1104		9438		7062		2050
	4		1843		1104		8817		6945		2068
	5		1892		1105		9308		7073		2150
	6		1955		1105		9972		7559		2795
	7		1998		1105		11522		8006		3578
	8		3686		1104		11565		7790		3360
	9		7827		1104		9502		5460		2553
	10		9952		1104		8427		3878		1760
	11		10581		1104		7922		3128		1269
	12		10565		1105		8017		2114		1322
	13		10414		1105		7899		2146		1266
	14		10619		1104		7973		2068		1257
	15		9640		1104		8382		3178		1282
	16		6176		1104		10047		5610		2007
	17		2665		1104		12253		7771		3440
	18		2445		1103		14260		8268		4002
	19		2479		1103		14512		8322		4035
	20		2434		1103		14277		8325		3979
	21		2384		1105		14072		8164		3746
	22		2338		1105		13091		8407		3253
	23		2253		1106		12293		7876		2611
	24		2190		1105		11500		7200		2175
</pre></body></html>

In [37]:
import numpy as np
import requests 
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import io

dates = np.array(pd.date_range(start='06/01/2015',end='12/16/2019').date)

data_frames_renewable_prod = {}
data_frames_all_prod = {}

scrape_log = pd.DataFrame(columns=['date','exists','got data'])

for i in dates:
    date = str(i).replace('-','')
    if date in ['20170312','20160313']:
        continue
    
    url = 'http://content.caiso.com/green/renewrpt/{}_DailyRenewablesWatch.txt'.format(date)
    with requests.get(url, stream=True) as r:
#     browser = init_browser()
    
#     browser.visit(url)
#     time.sleep(2)
    
#     html = browser.html
#     browser.quit()
#     html = requests.get(url)
        data = bs(r.text, 'html.parser')

        text_data = data.text
        if '404 Not Found' in text_data:
            entry = pd.DataFrame({
                'date':[date],
                'exists':False,
                'got data':False
            })
            scrape_log = pd.concat([scrape_log, entry])

            continue 
        try:
            f = io.StringIO(text_data)
            top = pd.read_csv(f,delimiter='\t+', header=1, skipfooter=26)
            top['date'] = date

            f = io.StringIO(text_data)
            bottom = pd.read_csv(f,delimiter='\t+', skiprows=26, header=1)
            bottom['date'] = date

            data_frames_renewable_prod[date] = top
            data_frames_all_prod[date] = bottom
            entry = pd.DataFrame({
                'date':[date],
                'exists':True,
                'got data':True
            })
            scrape_log = pd.concat([scrape_log, entry])
        except:
            entry = pd.DataFrame({
                'date':[date],
                'exists':True,
                'got data':False
            })
            scrape_log = pd.concat([scrape_log, entry])


        
        
scrape_log[scrape_log.exists == False]

C:\Users\graha\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
C:\Users\graha\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

       date exists got data
0  20190923  False    False
0  20190924  False    False
0  20190925  False    False
0  20190926  False    False
0  20190927  False    False
0  20190928  False    False
0  20190929  False    False
0  20190930  False    False
0  20191001  False    False
0  20191002  False    False
0  20191003  False    False
0  20191004  False    False
0  20191005  False    False
0  20191006  False    False
0  20191007  False    False
0  20191008  False    False
0  20191009  False    False
0  20191010  False    False
0  20191011  False    False
0  20191012  False    False
0  20191013  False    False
0  20191014  False    False
0  20191015  False    False
0  20191016  False    False
0  20191017  False    False
0  20191018  False    False
0  20191019  False    False
0  20191020  False    False
0  20191021  False    False
0  20191022  False    False
0  20191023  False    False
0  20191024  False    False
0  20191025  False    False
0  20191026  False    False
0  20191027  False    False
0  20191028  False    False
0  20191029  False    False
0  20191030  False    False
0  20191031  False    False
0  20191101  False    False
0  20191102  False    False
0  20191103  False    False
0  20191104  False    False
0  20191105  False    False
0  20191106  False    False
0  20191107  False    False
0  20191108  False    False
0  20191109  False    False
0  20191110  False    False
0  20191111  False    False
0  20191112  False    False
0  20191113  False    False
0  20191114  False    False
0  20191115  False    False
0  20191116  False    False
0  20191117  False    False
0  20191118  False    False
0  20191119  False    False
0  20191120  False    False
0  20191121  False    False
0  20191122  False    False
0  20191123  False    False
0  20191124  False    False
0  20191125  False    False
0  20191126  False    False
0  20191127  False    False
0  20191128  False    False
0  20191129  False    False
0  20191130  False    False
0  20191201  False    False
0  20191202  False    False
0  20191203  False    False
0  20191204  False    False
0  20191205  False    False
0  20191206  False    False
0  20191207  False    False
0  20191208  False    False
0  20191209  False    False
0  20191210  False    False
0  20191211  False    False

In [38]:
hourly_renewable_prod = pd.DataFrame([])
hourly_total_prod = pd.DataFrame([])
for i in dates:
    date = str(i).replace('-','')
    try:
        datar = data_frames_renewable_prod[date]
        datat = data_frames_all_prod[date]
    except KeyError:
        continue
    hourly_renewable_prod = pd.concat([hourly_renewable_prod, datar])
    hourly_total_prod = pd.concat([hourly_total_prod, datat])

In [39]:
pd.set_option('display.max_rows', 500)
hourly_renewable_prod['date'] = pd.to_datetime(hourly_renewable_prod['date'])
hourly_total_prod['date'] = pd.to_datetime(hourly_total_prod['date'])
print(hourly_renewable_prod.info())
print(hourly_total_prod.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37872 entries, 0 to 23
Data columns (total 9 columns):
Hour             37872 non-null int64
GEOTHERMAL       37872 non-null int64
BIOMASS          37872 non-null int64
BIOGAS           37872 non-null int64
SMALL HYDRO      37872 non-null int64
WIND TOTAL       37872 non-null int64
SOLAR PV         37872 non-null int64
SOLAR THERMAL    37872 non-null int64
date             37872 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(8)
memory usage: 2.9 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37872 entries, 0 to 23
Data columns (total 7 columns):
Hour          37872 non-null int64
RENEWABLES    37872 non-null int64
NUCLEAR       37872 non-null int64
THERMAL       37872 non-null int64
IMPORTS       37872 non-null int64
HYDRO         37872 non-null int64
date          37872 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 2.3 MB
None

In [50]:
hourly_total_prod['timestamp'] = hourly_total_prod['date'].astype(str) + 'T' + (hourly_total_prod['Hour']-1).astype(str) +':00:00'
hourly_total_prod['timestamp'] = pd.to_datetime(hourly_total_prod['timestamp'])
hourly_total_prod = hourly_total_prod[['timestamp','date','Hour','RENEWABLES','NUCLEAR','THERMAL','HYDRO']]

hourly_renewable_prod['timestamp'] = hourly_renewable_prod['date'].astype(str) + 'T' + (hourly_renewable_prod['Hour']-1).astype(str) +':00:00'
hourly_renewable_prod['timestamp'] = pd.to_datetime(hourly_renewable_prod['timestamp'])
hourly_renewable_prod['SOLAR TOTAL'] = hourly_renewable_prod['SOLAR PV'] + hourly_renewable_prod['SOLAR THERMAL']
hourly_renewable_prod['TOTAL'] = hourly_renewable_prod['SOLAR TOTAL'] + hourly_renewable_prod['WIND TOTAL'] +\
hourly_renewable_prod['GEOTHERMAL'] +hourly_renewable_prod['BIOMASS'] +hourly_renewable_prod['BIOGAS'] +hourly_renewable_prod['SMALL HYDRO']
hourly_renewable_prod = hourly_renewable_prod[['timestamp','date','Hour','TOTAL','SOLAR TOTAL','SOLAR PV','SOLAR THERMAL',
                                               'WIND TOTAL','GEOTHERMAL','BIOMASS','BIOGAS','SMALL HYDRO']]


display(hourly_renewable_prod.head())
display(hourly_total_prod.head())

,timestamp,date,Hour,TOTAL,SOLAR TOTAL,SOLAR PV,SOLAR THERMAL,WIND TOTAL,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO
0,2015-06-01 00:00:00,2015-06-01,1,4669,0,0,0,2942,1038,321,209,159
1,2015-06-01 01:00:00,2015-06-01,2,4396,0,0,0,2708,1040,316,210,122
2,2015-06-01 02:00:00,2015-06-01,3,4197,0,0,0,2509,1039,319,209,121
3,2015-06-01 03:00:00,2015-06-01,4,4059,0,0,0,2372,1035,320,209,123
4,2015-06-01 04:00:00,2015-06-01,5,3694,0,0,0,1973,1035,317,208,161

            timestamp       date  Hour  RENEWABLES  NUCLEAR  THERMAL  HYDRO
0 2015-06-01 00:00:00 2015-06-01     1        4668     2280     7318   1050
1 2015-06-01 01:00:00 2015-06-01     2        4396     2277     7383   1077
2 2015-06-01 02:00:00 2015-06-01     3        4197     2274     6921   1066
3 2015-06-01 03:00:00 2015-06-01     4        4058     2275     6565   1072
4 2015-06-01 04:00:00 2015-06-01     5        3694     2276     7050   1159

In [56]:

from sqlalchemy import create_engine
from config import username, password

engine = create_engine('postgresql://{}:{}@localhost:5432/California_Energy_DB'.format(username,password))
con = engine.connect()

name_total = 'hourlytotal'
name_renew = 'hourlyrenewable'
schema = 'Production'
hourly_renewable_prod.to_sql(name=name_renew,con=con,schema=schema, if_exists='append',
                            index=False)

In [57]:
hourly_total_prod.to_sql(name=name_total, con=con, schema=schema,
                        if_exists='append', index=False)